.my-player-page {
  .player-video{
    margin-top: 100px;
    .player-wrapper {
      position: relative;
      padding-top: 40%; /* Player ratio: 100 / (1280 / 720) */
    }

    .react-player {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  
}
