.topic {
  padding: 100px;
  background-color: #f5f5f5;
  .container-fluid {
    .topic__title {
      text-align: center;
      margin-bottom: 45px;
      h2 {
        color: #333;
        margin: 25px 0 0;
      }
      p {
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.4;
        padding-bottom: 0;
        margin-top: 0;
      }
      span {
        em {
          width: 60px;
          height: 2px;
          background-color: #662d91;
          display: block;
          margin: auto;
        }
      }
    }
    .topic__content {
      .filter-menu {
        text-align: center;
        margin-bottom: 40px;
      }
      .filter-item {
        width: 100%;
        .item {
          img {
            width: 100%;
          }
        }
      }
    }
  }
}
