#review-course {
  h4 {
    border-bottom: 1px solid #dedede;
  }
  .row {
    padding: 30px 0;
    align-items: center;
    .rating-breakdown {
      .js-rating-breakdown {
        list-style: none;
        li {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 10px;
          .progress {
            width: 70%;
            height: 10px;
          }
        }
      }
    }
  }

  .rating {
    list-style: none;
    display: flex;
    width: 240px;
    justify-content: center;
    align-items: center;
    li {
      margin: 5px;
      i {
        color: #e9ecef;
      }
    }
  }
  .review-list {
    list-style: none;
    .review-section {
      border-bottom: 1px solid #dedede;
      .review-info {
        display: flex;
        .review-img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin-right: 10px;
        }
      }
      .review-content {
        .review-rating {
          color: yellow;
          list-style: none;
          display: flex;
          margin-bottom: 8px;
          li {
            margin-right: 5px;
          }
        }
      }
    }
  }


}
