.single__head {
  margin-bottom: 50px;
  .page__title {
    margin-top: 57px;
    margin-bottom: 34px;
    padding-bottom: 17px;
    line-height: 1;
    text-transform: none;
    position: relative;
    right: 20px;
  }
  .col {
    p {
      color: #999;
      margin-top: 5px;
      line-height: 1;
      font-size: 12px;
    }
  }
  .single__box {
    justify-content: center;
    .students-number {
      border-right: 0.5px solid gray;
    }
    .rating-star {
      border-right: 0.5px solid gray;
    }
  }
}
