.myHeader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 10px 30px;
  z-index: 999;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  .navbar {
    .collapse {
      .menu-nav {
        justify-content: center;
        .nav-item {
          .nav-link {
            color: white;
          }
        }
      }
      .action-nav {
        align-items: center;
        justify-content: flex-end;
        list-style: none;
        margin-bottom: 0;
      }
    }
  }
  .dropdown:hover > .dropdown-menu {
    display: block;
  }
  
  .dropdown > .dropdown-toggle:active {
    pointer-events: none;
  }
}
.bgColor {
  background: linear-gradient(to right, #480048, #c04848);
  padding: 5px;
  transition: all 1s;
}

